section{
    color:white
}

  ul{
     max-width: 100%;
      position:relative;
      background: gray;
      opacity: 0.5;
      margin-left: 70%;
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
  }
  li{
      font-style:italic;
      font-weight: 900;
      color:black;
      cursor: pointer;
      margin-right: 20px;
  }